<div class="section-header">
    <h1>Urgency</h1>
</div>
<div class="title urgency">
    <h3>Urgency</h3><span class="urgency-value">{{urgency}}</span>
</div>
<div class="control urgency">
    <div class="controls btn-group" style="text-align: center;">
        <input class="slider-thumb value-{{urgency}}" type="range" id="urgency" min="1" max="5" ng-model="urgency">
    </div>
    <div class="controls btn-group">
        <a class="btn" href="http://salesmoto.com/pearson/pearson.php" target="_blank">CPR Instructions</a>
    </div>
</div>
<div class="clear"></div>