<div class="topbar"></div>
<div class="section">
    <div class="fixed">
        <div class="header-address">
            <div id="back-setting"></div>
        </div>
        <div class="add-household-bar">
            <div class="add-household">
                <button id="houseadd" type="button" class="btn">+</button>
            </div>
            <div class="add-household">
                <h4>Add Household</h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="inside-listing households">
        <ul>
            <li ng-repeat="household in households">
                <household contact-name="household.contactName" address="household.address" apt="household.apt" id="household.id"></household>
            </li>
        </ul>
    </div>
</div>

