<div class="section">
    <div class="fixed">
        <div class="header-address">
            <div id="back-setting"></div>
        </div>
        <div class="add-household-bar">
            <div class="add-household">
                <button id="houseadd" type="button" class="btn">+</button>
            </div>
            <div class="add-household">
                <h3>Add Household</h3>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="inside-listing">
        <div class="listing">
            <div class="check">
                <div class="checkboxes" id="checkbox-1"></div>
            </div>
            <p>Mrs. Lois, Miss Lane</p>

            <p>Apt 5E</p>

            <p>15 Mill Rd. Brooklyn, NY 11216</p>
            <a href="outside.html?id=1">
                <div class="arrow"><img src="img/arrow.png"></div>
            </a>

            <div class="clear"></div>
        </div>
    </div>
</div>

