<div id="yo">

    <address-panel contact-name="contactName" address="address"></address-panel>

    <!--urgency-->
    <div class="section no-border">
        <urgency-panel urgency="urgency"></urgency-panel>
    </div>
    <!--urgency end-->

    <!--utilities-panel-->
    <div class="section no-border">
        <div class="section-header">
            <h1>Utilities</h1>
        </div>
        <utilities-panel utilities="utilities"></utilities-panel>

    </div>
    <!--utilities-panel end-->

    <!--supplies-panel-->
    <div class="section no-border">
        <div class="section-header">
            <h1>Supplies</h1>
        </div>
        <supplies-panel supplies="supplies"></supplies-panel>

    </div>

    <div class="section no-border">
        <div class="section-header">
            <h1>Additional Notes</h1>
        </div>
        <textarea style="margin-left:10px;width:290px" placeholder="Additional Notes">{{notes}}</textarea>
    </div>

    <!--submit survey-->
    <div class="section no-border">
        <div class="section-body">
            <div class="control labor submit-btn">
                <input type="text" name="organizer_id" style="display:none;">
                <input type="text" name="survey_id" style="display:none;">
                <a href="inside2.html" type="submit" class="btn btn-success btn-large" value='Submit Survey'>Submit
                    Survey</a>

            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--submit survey-end-->

    <!--request labor-->
    <div class="section no-border">
        <div class="section-body">
            <div class="control labor">
                <a class="btn btn-warning btn-large" href="tel:311"><i class="icon-white icon-user"></i> Request
                    Labor</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--request labor end-->


</div>


<div screen_capture_injected="true" id="mapyo" style="display:none">

    <h2>Voluntarily Volunteer Electricity Mapping</h2>

    <div id="amazonWrapper" style="float: right; margin: 0 0 10px 10px">

        <!-- Begin Amazon Affiliate link code -->


        <!-- End AMazon Affiliate Link code -->

    </div>


    <form method="POST" action="http://gmaps.kaeding.name/cgi-bin/map.cgi">
        <fieldset>

            <textarea style="height: 17px;" name="addrs" id="addrsyo" rows="5" cols="80"></textarea>
        </fieldset>
        <br>

        <input type="submit" name="Submit">

    </form>

    <hr>
</div>