<div id="yo">
<form id="body-form" action="inside.html">

<div class="header-information">
    <input id="visit_name" value="Mrs. Lois, Miss Lane">


    <h1><textarea id="visit_address" value="15 Mill Rd. Brooklyn, NY, 11216">15 Mill Rd. Brooklyn, NY, 11216</textarea>
    </h1>
    <a href="http://www.salesmoto.com/pearson/charts.html" target="_blank">Supply and Demand Chart</a>
</div>


<div class="section">
    <div class="section-header"></div>

    <div class="section-body">
        <div class="title" style="width: 175px;">
            <h3>Contacted?</h3>
        </div>

        <div class="control">
            <div class="controls btn-group" data-toggle="buttons-radio" data-toggle-name="radio_group">
                <button type="button" value="1" class="btn" data-toggle="button">Yes</button>
                <button type="button" value="0" class="btn" data-toggle="button">No</button>
                <input id="visit_contacted" style="display:none" value="1">
            </div>
            <div class="contact-date">
                <p></p>
            </div>

        </div>
        <div class="clear"></div>
    </div>

</div>

<div class="section">
    <div class="section-header"></div>

    <div class="section-body">
        <div class="title continue-visiting" style="width: 175px;">
            <h3>Continue Visiting?</h3>
        </div>

        <div class="control continue-visiting">
            <div class="controls btn-group" data-toggle="buttons-radio" data-toggle-name="radio_group">
                <button type="button" value="1" class="btn" data-toggle="button">Yes</button>
                <button type="button" value="0" class="btn" data-toggle="button">No</button>
            </div>

        </div>
        <div class="clear"></div>
    </div>

</div>

<div class="section">
    <div class="section-header"></div>

    <div class="section-body">
        <div class="title continue-visiting" style="width: 175px;">
            <h3>Has Electricity?</h3>
        </div>

        <div class="control continue-visiting">
            <div class="controls btn-group" data-toggle="buttons-radio" data-toggle-name="radio_group">
                <button type="button" value="1" class="btn" data-toggle="button">Yes</button>
                <button type="button" value="0" class="btn" data-toggle="button">No</button>
            </div>

        </div>
        <div class="clear"></div>
    </div>

</div>


<div class="section no-border">
    <div class="section-header"></div>

    <div class="section-body">
        <div class="title urgency">
            <h3>Urgency</h3>
        </div>

        <div class="control urgency">
            <div class="controls btn-group" style="text-align: center;">
                <input type="range" id="urgency" min="1" max="5">
            </div>
            <div class="controls btn-group" style="float:right;margin:5px ">
                <a class="btn" href="http://salesmoto.com/pearson/pearson.php" target="_blank">CPR Instruction</a>
            </div>

        </div>
        <div class="clear"></div>
    </div>

</div>
<div class="section no-border">
    <div class="section-header">
        <h1>Utilities</h1>
    </div>

    <div class="section-body">

        <div class="control utilities">
            <div class="button utilities">
                <button type="button" value="1" class="btn power-btn" data-toggle="button"></button>
                <label>Power</label>
                <input id="visit_power" style="display:none" value="1">
            </div>
            <div class="button utilities">
                <button type="button" value="1" class="btn heat-btn" data-toggle="button"></button>
                <label>Heat</label>
                <input id="visit_heat" style="display:none" value="1">
            </div>
            <div class="button utilities">
                <button type="button" value="1" class="btn water-btn" data-toggle="button"></button>
                <label>Water</label>
                <input id="visit_water" style="display:none" value="1">
            </div>
            <div class="button utilities">
                <button type="button" value="1" class="btn gas-btn" data-toggle="button"></button>
                <label>Gas</label>
                <input id="visit_gas" style="display:none" value="1">
            </div>


        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="section-header">
    <h1>Supplies</h1>
</div>

<div class="supplies-list">
    <div class="section">
        <div class="section-body">
            <div class="title supplies oj">
                <h3>Firstaid</h3>
                <img src="img/firstaid.png">
            </div>

            <div class="control firstaid">
                <label># needed</label>
                <button id="firstaidadd" type="button" class="btn add">+</button>
                <button id="firstaidminus" type="button" class="btn minus">-</button>
                <button id="firstaidoutput" type="button" class="btn output">1</button>


            </div>
            <div class="clear"></div>


        </div>
    </div>


    <div class="section">
        <div class="section-body">
            <div class="title supplies oj">
                <h3>Food</h3>
                <img src="img/forkknife.png">
            </div>

            <div class="control food">
                <label># needed</label>
                <button id="foodadd" type="button" class="btn add">+</button>
                <button id="foodminus" type="button" class="btn minus">-</button>
                <button id="foodoutput" type="button" class="btn output">1</button>


            </div>
            <div class="clear"></div>


        </div>
    </div>


    <div class="section">
        <div class="section-body">
            <div class="title supplies red">
                <h3>Flashlight</h3>
                <img src="img/flashlight.png">
            </div>

            <div class="control flashlight">
                <label># needed</label>
                <button id="flashadd" type="button" class="btn add">+</button>
                <button id="flashminus" type="button" class="btn minus">-</button>
                <button id="flashoutput" type="button" class="btn output">1</button>


            </div>
            <div class="clear"></div>
        </div>
    </div>


    <div class="section">
        <div class="section-body">
            <div class="title supplies yellow">
                <h3>Clothing</h3>
                <img src="img/shirts.png">
            </div>

            <div class="control clothing">
                <label># needed</label>
                <button id="clothingadd" type="button" class="btn add">+</button>
                <button id="clothingminus" type="button" class="btn minus">-</button>
                <button id="clothingoutput" type="button" class="btn output">1</button>


            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="section">
        <div class="section-body">
            <div class="title supplies blue">
                <h3>Water</h3>
                <img src="img/water_bottles.png">
            </div>

            <div class="control water">
                <label># needed</label>
                <button id="wateradd" type="button" class="btn add">+</button>
                <button id="waterminus" type="button" class="btn minus">-</button>
                <button id="wateroutput" type="button" class="btn output">1</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="section">
        <div class="section-body">
            <div class="title supplies blue">
                <h3>Misc.</h3>
                <input type="text" placeholder="what else?">
            </div>

            <div class="control water">
                <label># needed</label>
                <button id="wateradd" type="button" class="btn add">+</button>
                <button id="waterminus" type="button" class="btn minus">-</button>
                <button id="wateroutput" type="button" class="btn output">1</button>


            </div>
            <div class="clear"></div>
        </div>
    </div>


</div>

<div class="section" style="margin: 20px 0 0;padding: 0 0 20px;">
    <a id="add_priority">Add Supplies</a>
</div>

<div class="section" style="margin: 20px 0 0;padding: 0 0 20px;">


    <textarea style="margin-left:10px;width:290px" placeholder="Additional Notes"></textarea>


</div>


<div class="section no-border">

    <div class="section-body">

        <div class="control labor submit-btn">
            <input type="text" name="organizer_id" style="display:none;">
            <input type="text" name="survey_id" style="display:none;">
            <a href="inside2.html" type="submit" class="btn btn-success btn-large" value='Submit Survey'>Submit
                Survey</a>

        </div>
        <div class="clear"></div>
    </div>

</div>


<div class="section no-border">
    <div class="section-header">
        <h1>Labor</h1>
    </div>

    <div class="section-body">

        <div class="control labor">
            <a class="btn btn-warning btn-large" href="tel:311"><i class="icon-white icon-user"></i> Request Labor</a>

        </div>
        <div class="clear"></div>
    </div>

</div>

<div class="section no-border">
    <div class="section-header">
        <h1>Electricity Mapping</h1>
    </div>

    <div class="section-body">

        <div class="control labor">
            <a id="edit_task" class="btn btn-warning btn-large"><i class="icon-white icon-user"></i> Map Address</a>

        </div>
        <div class="clear"></div>
    </div>

</div>


<div class="section no-border">
    <div class="section-header">
        <h1>Emergency</h1>
    </div>

    <div class="section-body">

        <div class="control emergency">
            <a class="btn btn-danger btn-large" href="tel:911"><i class="icon-white icon-bullhorn"></i> Emergency
                Assistance</a>

        </div>
        <div class="clear"></div>
    </div>

</div>


</form>


</div>


<div screen_capture_injected="true" id="mapyo" style="display:none">

    <h2>Voluntarily Volunteer Electricity Mapping</h2>

    <div id="amazonWrapper" style="float: right; margin: 0 0 10px 10px">

        <!-- Begin Amazon Affiliate link code -->


        <!-- End AMazon Affiliate Link code -->

    </div>


    <form method="POST" action="http://gmaps.kaeding.name/cgi-bin/map.cgi">
        <fieldset>

            <textarea style="height: 17px;" name="addrs" id="addrsyo" rows="5" cols="80"></textarea>
        </fieldset>
        <br>

        <input type="submit" name="Submit">

    </form>

    <hr>
</div>